body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
}

input,
button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
}

button:hover {
  background-color: #45a049;
}

#message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
