.delete-btn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #e60000;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
